<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MyDailyStats, <%= @user.username %></h1>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      You are now logged in and can start setting up questions that we will remind you to answer everyday. You can visit your homepage here: <%= @home %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
